<header class="header">
    <div class="container">
       <div class="header__row">
           <nav class="header__menu menu" #nav>
               <div class="menu__icon icon-menu" [ngClass]="isActive ? 'active' : ''" (click)="toggleActiveClass()">
                   <span></span>
                   <span></span>
                   <span></span>
               </div>
               <div class="menu__body" [ngClass]="isActive ? 'active' : ''">
                    <ul class="menu__list">
                        <li *ngFor="let obj of menu">
                            <a routerLink={{obj.link}} class="menu__link" (click)="toggleMenu(obj.name)" *ngIf="!obj.subparagraphs[0] else subMenu">{{obj.name}}</a>
                            <ng-template #subMenu>
                                <span class="menu__link">{{obj.name}}</span>
                                <span class="menu__arrow arrow" (click)="toggleSubMenu($event.target)"></span>
                                <ul class="sub-menu__list">
                                    <li *ngFor="let subObj of obj.subparagraphs">
                                        <a [routerLink]="[subObj.link, subObj.id]" class="sub-menu__link">{{subObj.name}}</a>
                                    </li>
                                </ul> 
                            </ng-template>
                        </li>
                    </ul>
               </div>
           </nav>
       </div> 
    </div>
</header>