<div class="wrapper" #wrapper>
    <div class="container">
        <div class="card" *ngFor="let car of cars; let last = last" #allCards>
            <div class="content">
                <img src={{car.image}} alt="">
                <h3>{{car.brand}} {{car.model}}</h3>
                <p>Колір: {{car.color}}</p>
                <p>Рік випуску: {{car.year}}</p>
                <p>Ціна: {{car.price}} грн / день</p>
                <a (click)="toggle(car._id)">Замовити</a>
            </div>
        </div>
    </div>
</div>
<div class="popup" #popup>
    <form [formGroup]="orderForm" novalidate>
        <div class="group">
            <input type="text" formControlName="name" id="name" required>
            <label for="name">Ім'я</label>
        </div>
        <div class="group">
            <input type="text" formControlName="phone" id="phone" required>
            <label for="phone">Номер телефону</label>
        </div>
        <div class="group">
            <input type="number" formControlName="days" id="days" required>
            <label for="days">Кількість днів</label>
        </div>
        <div class="error" #message></div>
        <a class="button" (click)="makeAnOrder()">
            <span>Замовити</span>
            <div class="liquid"></div>
        </a>
    </form>
    <img src="../../../../../assets/images/close.png" (click)="toggle(0)" alt="">
</div>